{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href={{styles}}>
</head>
<div class="main_container">
    <div class="main_text">
        <h1>Приветствуем на нашем форуме!</h1>
        <p>Здесь вы можете обсудить различные темы, связанные с нашим любимым аниме Bleach.
            Не стесняйтесь общаться и уважайте собеседников! Для создания тем и для возможности комментировать нужно
            зарегестрироваться.</p>
    </div>
    <div class="picture">
        <img src="static/img/bleach_main.jpg" alt="">
    </div>
</div>

{% endblock %}